@media screen and (min-width: 37.5em) {
    #menu {
        display: none;
    }

    nav {
        flex-direction: row;
    }

    nav a {
        display: block;
        flex: 1 1 100%;
    }
    nav a:hover {
        transform: translateY(-5px);
        cursor: pointer;
        transition: ease-in-out .5s;
    }


    main {
        max-width: 90vw;
        margin: 0 auto;
    }
    .figures {
        width: 100%;
        display: grid;
        grid-template: auto auto auto / auto auto auto;
    }
    figure {
        align-self: center;
        text-align: center;
    }
}